# ==========================================
# Ambiente Virtual
# ==========================================

venv/
venv
.venv/
.env/

# ==========================================
# Variáveis de Ambiente
# ==========================================

.env

# ==========================================
# Cache Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Arquivos compilados
# ==========================================

*.so
*.pyd
*.dll

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Django
# ==========================================

media/
staticfiles/
db.sqlite3

# ==========================================
# Pytest / Coverage
# ==========================================

.coverage
htmlcov/
.pytest_cache/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Sistema Operacional
# ==========================================

Thumbs.db
Desktop.ini
.DS_Store

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Mypy
# ==========================================

.mypy_cache/

# ==========================================
# Ruff
# ==========================================

.ruff_cache/
